*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  position: fixed;
  -webkit-text-size-adjust: none
}

body {
  height: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  color: #fff;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: contain;
}

body.noScroll {
  /* ...or body.dialogShowing */
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
  outline: none;
}

a:hover, a:focus {
  outline: none;
}